.book-1{
    width: 800px;
    height: 1000px;
    background-color: aliceblue;
  padding-top: 20px;
}


.h1-book-event{
    color: rgb(222, 172, 109);
    font-size: 50px;
    letter-spacing: 3px;
}
.input-book-1{
  width: 300px;
  height: 30px;
  background-color: aliceblue;
}
.input-div{
  float: left;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-div-1{
  width: 300px;
  height: 30px;
  float: right;
  margin-right:60px;
  font-family: Arial, Helvetica, sans-serif;
}