.jack1
{
    margin-top: 100px;
margin-left: 200px;
border-radius: 40px;
background-image: url("C:\AAD\react-app\src\assets\Logo.png");
background-repeat: no-repeat;
background-size: contain;
margin-left: 450px;
height: 600px;

width:650px;
height:400px;       
}
.jack2
{
    margin-left: 850px;
    margin-right: 200px;
    margin-top:  -400px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: aliceblue;
    
}
.jack2 a{
    text-decoration: none;
}
.jack3
{
    border: 2px solid rgba(0, 0, 0, 0);
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 40px;
    background-color: aqua;

}
.jack4
{
    border: 2px solid rgba(0, 0, 0, 0);
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 40px;
    background-color: aqua;     
}
.h3-check{
    text-align: center;
    text-decoration: none;
    color: black;
}
.h1-check{
    text-align: center;
}