.img-1-home{
    border-radius:100%;
}
.welcome-1{
    color:aqua;
    font-size:30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 1500px;
    height: 700px;
    /* background: linear-gradient(circle,beige,rgb(101, 101, 245)); */
    background-image: url("https://cdn.pixabay.com/photo/2023/05/02/07/06/hd-wallpaper-7964515_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.nav-box-2{
    height: 500px;
    width: 1250px;
    background:fixed;
    color: antiquewhite;
    background-color:rgb(203, 203, 151);
    background-image: url("https://png.pngtree.com/background/20230611/original/pngtree-the-last-of-us-hd-wallpapers-picture-image_3133510.jpg");
    border-radius: 50px 0px;
    background-size: cover;
}
.nav-h2-2{
   padding-top:50px;
}
.img-about-1{
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 30px;
    border-radius: 50%;
}
.about-content-1{
    font-size: 30px;
    justify-content:right;
    letter-spacing: 2px;
    color: aqua;
}
.navbar-h2-1{
    float: left;
    margin-left: 60px;
}
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    /* color: rgb(255, 255, 255); */
    color: black;
    height: 60px;
    width: 200px;
    font-size: large;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:aqua;
    left: 0;
    top: 0;
    border-radius: 10px;
    
  }
  .nav-bar-row-h1{
    background-color: #27e2f3;
    height: 90px;
    width: 170px;
    border-radius:0px 20px;
    
  }
  .nav-bar-row-h1-h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .navbar-row{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-left: 300px;
    
  }
  .foot-box{
    width: 1510px;
    height: 400px;
    background-color:#abf3fa;
    
  }
  .footer-items-1{
    padding-top: 75px;
    display: flex;
    justify-content: stretch;
    gap:50px; 
    padding-left: 450px;
    padding-top: 60px;
  }
  .footer-items-1:hover{
    cursor: pointer;
  }
  .foot-h4{
    text-align: center;
    padding-top: 100px;
  }
  .pro-link-remove a{
    color: #111;
    text-decoration: none;
  }
  .tool-1 a{
    text-decoration: none;
  }