
.body-login-11{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1500px; */
    height: 700px;
    font-family: 'Jost', sans-serif;
   background-color: #747d7e;
   background-repeat: no-repeat;
   background-size: cover;
  }
  .main1 {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 20px 50px #000;
    margin: 0px;
    padding: 0px;
  }
  
  #chk {
    display: none;
  }
  
  .signup1,
  .login1 {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .f-l1{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .but-11,.but-21 {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #020202;
    background:white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
    text-decoration: none;
  }
  
  .but-11:hover,.but-2:hover {
    background: #334345;
  }
  
  .login1 {
    height: 460px;
    background: #856868;
    border-radius:0px;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
  }
  
  .login1 label {
    color:#9fe0e9;
    transform: scale(0.6);
  }
  
  #chk:checked ~ .login1 {
    transform: translateY(-500px);
  }
  
  #chk:checked ~ .login1 label {
    transform: scale(1);
  }
  
  #chk:checked ~ .signup1 label {
    transform: scale(0.6);
  }
  .box-11{
    height: 500px;
    width: 550px;
   background-image:url("C:\AAD\react-app\src\assets\Event-logo.avif");
   border-radius: 10px 0px 0px 10px;
  }