.book-1{
    width: 800px;
    height: 1000px;
    background-color:rgba(246, 246, 143, 0.652);
  padding-top: 20px;
}


.h1-book-event{
    color: rgb(222, 172, 109);
    font-size: 50px;
    letter-spacing: 3px;
}
.input-book-1{
  width: 300px;
  height: 30px;
  background-color: aliceblue;
}
.input-div{
  float: left;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-div-1{
  width: 300px;
  height: 30px;
  float: right;
  margin-right:60px;
  font-family: Arial, Helvetica, sans-serif;
}

.b-e-b-1{
  background-image:url("https://e0.pxfuel.com/wallpapers/711/193/desktop-wallpaper-concert-crowd-events-concerts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}