/* .cancle-1{
    width: 800px;
    height: 1000px;
    background-color: aliceblue;
  padding-top: 20px;
} */


.h1-cancle-event{
    color: rgb(222, 172, 109);
    font-size: 50px;
    letter-spacing: 3px;
}
.input-cancle-1-event{
  width: 300px;
  height: 30px;
  background-color: aliceblue;
}
.input-div-cancle{
  float: left;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-div-1-cancle{
  width: 300px;
  height: 30px;
  float: right;
  margin-right:60px;
  font-family: Arial, Helvetica, sans-serif;
}
.cancle-1{
    width: 800px;
    height: 600px;
    background-color:rgba(222, 222, 72, 0.795);
  padding-top: 20px;
  border-radius: 0px 60px;
}


.b-c-b-1{
  background-image:url("https://e0.pxfuel.com/wallpapers/711/193/desktop-wallpaper-concert-crowd-events-concerts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 60px;
}