.ad-search-form{
  display: flex;
  margin-top: -35px;
  padding-left: 568px;
}
.ad-add{
  margin-top: -43px;
  padding-left: 1200px;
  display: flex;
  flex-direction: row;
  color: rgb(1, 122, 17);

}
.ad-add:hover{
  color: rgb(1, 70, 10);
}
.ad-poih{
  padding-left: 40px;
  margin-top: -41px;
}
.ad-pointer{
  cursor: pointer;
}
.ad-h1{
  padding-top: 120px;
  padding-left: 70px;
}

.gallery-wrapper1{
  width: 22vw;
  height: 50vh;
}

.be-grid1{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 100px;

}

.pb-51{
  text-decoration: none;
  margin-bottom: 45px;
}
.grid-item1 {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  /* padding-bottom: 50px; */
}

/* Hover effect for the grid items */
.grid-item1:hover {
  transform: scale(1.05);
}

/* Style for the image inside each grid item */
.grid-item1 img {
  width: 100%;
  height: 52%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}


/* Style for the text content inside each grid item */
.grid-item1 .h4 {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}

/* Style for the description inside each grid item */
.grid-item1 .font-italic {
  color: #666;
  display: flex;
  /* font-style: italic; */
  margin-left: 10px;
  /* font-weight: 500; */
  padding: 1px;
}


/* Style for the button inside each grid item */
.grid-item1 .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.grid-item1 .btn:hover {
  background-color: #0056b3;
}

.ab-up{
  background-color:green;
height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 45px;
  cursor: pointer;
  color: white;
}
.ab-del{
  background-color: red;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 35px;
  cursor: pointer;
  color: white;

}